lib/
node_modules/
# Logs
*.log
.vscode

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output


# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm


# IDE data
.idea

# ignore .env
.env
export_var.sh

# ignore log files
*.log

ec

# cache
*.cache